<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="后台管理界面" name="description"/>
    <meta content="lleohao" name="author"/>
    <link rel="shortcut icon" href="{{ url_for('admin.static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
        <link href="{{ url_for('admin.static', filename='css/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('admin.static', filename='css/font-awesome.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('admin.static', filename='css/custom-styles.css') }}" rel="stylesheet"/>
        <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    {% endblock %}
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin.main') }}"><strong>Pytypecho</strong></a>
            <div id="sideNav" href="#"><i class="fa fa-bars icon"></i></div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="{{ url_for('admin.userinfo') }}"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.setting') }}"><i class="fa fa-gear fa-fw"></i> 设置</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{{ url_for('admin.logout') }}"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="{{ url_for('admin.main') }}"><i class="fa fa-dashboard"></i> 控制台<span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ url_for('admin.main') }}">网站概况</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin.visitor') }}">访客信息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-pencil"></i> 撰写<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ url_for('admin.write_post') }}">撰写文章</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin.write_page') }}">撰写页面</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> 管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{{ url_for('admin.manage_posts') }}">文章</a></li>
                        <li><a href="{{ url_for('admin.manage_comments') }}"></a>评论</li>
                        <li><a href="{{ url_for('admin.manage_pages') }}">页面</a></li>
                        <li><a href="{{ url_for('admin.manage_categories') }}">分类</a></li>
                        <li><a href="{{ url_for('admin.manage_files') }}">文件</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->

    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                控制台
                <small>{% block siteinfo %}{% endblock %}</small>
            </h1>
            <ol class="breadcrumb">
                {% block breadcrumb %}{% endblock %}
            </ol>
        </div>
        <div id="page-inner">
            {% block container %}

            {% endblock %}
            <footer>
                <p>Copyright &copy; 2016. Power by <a href="http://lleohao.com">lleohao</a></p>
            </footer>
        </div>
    </div>
</div>
{% block scripts %}
    <script src="{{ url_for('admin.static', filename='js/jquery-1.10.2.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/jquery.metisMenu.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/custom.js') }}"></script>
{% endblock %}
</body>
</html>
