{% extends "admin-base.html" %}
{% block title %}
    管理用户
{% endblock %}

{% block navbar %}
    {{ widget.admin_nav(is_manage="active", current_user=current_user) }}
{% endblock %}

{% block page_title %}
    {{ widget.page_title(title="管理用户", url="admin.users") }}
{% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="clearfix list-operate">
        <form method="get" class="form-inline" action="{{ url_for('admin.manage_users') }}">
            <div class="operate pull-left">
                <label>
                    <i class="sr-only">全选</i>
                    <input type="checkbox" class="select-all">
                </label>

                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">选中项&nbsp;<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="delete">删除</a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <form method="post" name="manage-users" action="{{ url_for('admin.delete_users') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="manage-table">
            <table class="table table-hover">
                <colgroup>
                    <col width="20">
                    <col width="30%">
                    <col width="30%">
                    <col width="25%">
                    <col width="15%">
                </colgroup>
                <thead>
                <tr>
                    <th></th>
                    <th>用户名</th>
                    <th>昵称</th>
                    <th>电子邮件</th>
                    <th>用户组</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><input type="checkbox" value="{{ user.id }}" name="uid"></td>
                        </td>
                        <td>
                            <a href="{{ url_for('admin.users', cid=user.id) }}">{{ user.username }}</a>
                        </td>
                        <td>
                            {{ user.screenName }}
                        </td>
                        <td>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </td>
                        <td>
                            {{ user.group }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <div class="clearfix list-operate">
        <div class="operate pull-left">
            <label>
                <i class="sr-only">全选</i>
                <input type="checkbox" class="select-all">
            </label>

            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">选中项&nbsp;<span
                        class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="delete">删除</a></li>
                </ul>
            </div>
        </div>
        <div class="page-num pull-right">
            {{ widget.render_pagination(pageinate, "admin.manage_users") }}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script>
        $(".select-all").click(function () {
            var isChecked = $(this).prop("checked");
            $("input[name='uid']").prop("checked", isChecked);
        });
        $(".delete").click(function () {
            $("form")[1].submit();
        })
    </script>
{% endblock %}