{% extends "admin-base.html" %}

{% block title %}管理页面{% endblock %}

{% block navbar %}
    {{ widget.admin_nav(is_manage="active") }}
{% endblock %}

{% block page_title %}
    {{ widget.page_title(title="管理页面", url="admin.write_page") }}
{% endblock %}

{% block main %}
<div class="col-md-12">
    <div class="clearfix list-operate">
        <form method="get" class="form-inline" action="{{ url_for('admin.manage_posts') }}">
            <div class="operate pull-left">
                <label>
                    <i class="sr-only">全选</i>
                    <input type="checkbox" class="select-all">
                </label>
                <div class="btn-group btn-group-sm" role="group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">选中项&nbsp;<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="delete">删除</a></li>
                    </ul>
                </div>
            </div>
            <div class="search pull-right">
                <div class="form-group">
                    <input class="form-control" type="text" name="keyword" placeholder="请输入关键字">
                    <button class="btn btn-default" type="submit">筛选</button>
                </div>
            </div>
        </form>
    </div>
    <form method="post" name="manage-page" action="{{ url_for('admin.delete_pages') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="manage-table">
            <table class="table table-hover">
                <colgroup>
                    <col width="20">
                    <col width="5%">
                    <col width="50%">
                    <col width="30%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th> </th>
                        <th> </th>
                        <th>标题</th>
                        <th>缩略名</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                    <tr>
                        <td><input type="checkbox" value="{{ page.id }}" name="cid"></td>
                        <!-- 分类评论显示 -->
                        <td><a href="#"><span class="badge">{{ comment_num[loop.index0] }}</span></a></td>
                        <td>
                            <a href="{{ url_for('admin.write_page', cid=page.id) }}">
                                {% if page.status == False %}
                                    [草稿]
                                {% endif %}
                                {{ page.title }}</a>
                            <a href="{{ url_for('ui.show_category', slug=page.slug) }}" title="浏览{{ page.title }}" target="_blank"><i class="glyphicon glyphicon-new-window"></i></a>
                        </td>
                        <td>{{ page.slug }}</td>
                        <td>{{ createds[loop.index0] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <!--操作、页码栏-->
    <div class="clearfix list-operate">
        <div class="operate pull-left">
            <label>
                <i class="sr-only">全选</i>
                <input type="checkbox" class="select-all">
            </label>
            <div class="btn-group btn-group-sm" role="group">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">选中项&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="delete">删除</a></li>
                </ul>
            </div>
        </div>
        <div class="page-num pull-right">
            {{ widget.render_pagination(pageinate, "admin.manage_pages") }}
        </div>
    </div>
</div>
{% endblock %}



{% block scripts %}
    {{ super() }}
    <script>
       $(".select-all").click(function(){
            var isChecked = $(this).prop("checked");
            $("input[name='cid']").prop("checked", isChecked);
        });
        $(".delete").click(function(){
            $("form")[1].submit();
        })
    </script>
{% endblock %}

