{% extends "admin-base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editormd.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css') }}">
{% endblock %}

{% block title %}添加页面{% endblock %}

{% block navbar %}
    {{ widget.admin_nav(is_write="active") }}
{% endblock %}

{% block page_title %}
   {{ widget.page_title(title="撰写新页面") }}
{% endblock %}

{% block main %}
<form method="post" name="write_post" action="{{ url_for('admin.write_page') }}">
    {{ form.csrf_token }}
    {{ form.content_id }}
    <div class="col-md-12">
        <div class="form-group">
            {{ form.title.label(class='sr-only') }}
            {{ form.title(class='form-control', placeholder="请输入标题", required=required) }}
        </div>
        <div class="form-group">
            {{ form.slug.label(class='sr-only') }}
            <div class="input-group input-group-sm col-lg-5">
                <div class="input-group-addon">lleobox.com/{category}/</div>
                {{ form.slug(class='form-control', placeholder="这将用于生成个性化的url") }}
                <div class="input-group-addon">.html</div>
            </div>
        </div>
        <div class="form-group">
            <div id="edit-area">
                <textarea style="display: none">{{ content }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button class="btn btn-default" name="submit" value="save">保存草稿</button>
                <button class="btn btn-primary" type="submit" name="submit" value="publish">发布文章</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/editormd.min.js' )}}"></script>
    <script>
        var testEditor,
            csrftoken = "{{ csrf_token() }}";

        $(function() {
            testEditor = editormd("edit-area", {
                height: 600,
                syncScrolling : "single",
                delay: 300,
                searchReplace: true,
                codeFold: true,
                emoji: true,
                toolbarAutoFixed: false,
                path: "{{ url_for('static', filename='lib/') }}",
                toolbarIcons: function(){
                    return ["undo", "redo", "|",
                            "bold", "del", "italic", "quote", "|",
                            "list-ol", "list-ul", "hr", "|",
                            "link", "reference-link", "image", "|",
                            "code", "preformatted-text", "code-block", "goto-line", "|",
                            "table", "datetime", "emoji", "html-entities", "pagebreak", "||",
                            "preview", "watch", "fullscreen", "clear", "search"]
                }
            });
        });

    </script>
{% endblock %}