{% extends 'base.html' %}
{% import 'tools.html' as tools %}

{% block meta %}
    <meta name="keywords" content="{{ site.site_keyword }}">
    <meta name="description" content="{{ site.site_description }}">
{% endblock %}

{% block title %}
    {{ site.site_title }}
{% endblock %}

{% block page_link %}
    {% for page in pages %}
        {{ tools.create_page(page) }}
    {% endfor %}
{% endblock %}


{% block site_title %}
    {{ site.site_title }}
{% endblock %}
{% block site_description %}
    {{ site.site_description }}
{% endblock %}

{% block article %}
    {% for post in posts %}
        {{ tools.create_article(post) }}
    {% endfor %}
{% endblock %}

{% block nav_page %}
    {{ tools.nav_page(pageinate, "ui.index") }}
{% endblock %}

{% block category %}
    {{ tools.create_category(categories) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var posts = $('.md2html');

            for (var i = 0, len = posts.length; i < len; i++) {
                editormd.markdownToHTML(posts[i].id, {
                    htmlDecode: "style,script,iframe",
                    emoji: true,
                    taskList: true,
                    tocm: true,
                    markdownSourceCode: true,
                    tocContainer: "",
                    tocDropdown: false
                });
            }


        })
    </script>
{% endblock %}

