{% macro create_page(page) -%}
    <li class="menu-item"><a href="{{ url_for("ui.show_page", slug=page.slug) }}">{{ page.title }}</a></li>
{%- endmacro %}

{% macro create_category(categories) %}
    {% for category in categories %}
        <li class="cat-item"><a href="{{ url_for("ui.show_category", slug=category.slug) }}">{{ category.name }}</a></li>
    {% endfor %}
{% endmacro %}

{% macro create_article(post) -%}
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">
                <a href="{{ url_for('ui.show_aticle', slug=post.slug) }}">{{ post.title }}</a>
            </h1>
            <!--
            TODO: 添加回复
            <div class="comment-link">
                <a href="#">0条回复</a>
            </div>
            -->
        </header>
        <div class="post-content md2html" id="{{ post.id }}">
            <textarea>
                {{- post.text -}}
            </textarea>
        </div>
        <footer class="post-meta">
            <span class="pushtime">本条目发布于<time datetime="{{ post.created }}">{{ post.created }}</time></span>
            <span class="category">属于&nbsp;<a href="{{ url_for('ui.show_category', slug=post.category.slug) }}" class="categories">{{ post.category.name }}</a> 分类，</span>
            <span class="tag">标签：
                {% for tag in post.tags -%}
                    <a href="{{ url_for('ui.index', tag=tag) }}" class="tags">{{ tag }}</a>
                {%- endfor %}
            。</span>
        </footer>
    </article>
{%- endmacro %}

{% macro nav_page(pagination, endpoint) %}
<nav id="page-nav" class="navigation" role="navigation">
    {% if pagination.prev_num != 0 %}
    <div class="show-many">
        <a href="{{ url_for(endpoint, page=pagination.prev_num) }}"><---Previous</a>
    </div>
    {% endif %}

    {% if pagination.page != pagination.pages and pagination.pages != 0 %}
    <div class="show-many">
        <a href="{{ url_for(endpoint, page=pagination.next_num) }}">Next---></a>
    </div>
    {% endif %}
</nav>
{% endmacro %}
