{%- extends "base.html"  %}

{% block navbar %}
    <div class="nav navbar-inverse" role="navigation">
        <div class="container">
            <div class="nav navbar-header">
                <a class="navbar-brand" href="#">Pytecho</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown {% block main_active %}{% endblock %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">控制台</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">概要</a></li>
                            <li><a href="#">个人设置</a></li>
                            <li><a href="#">插件</a></li>
                            <li><a href="#">外观</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% block add_active %}{% endblock %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">撰写</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('admin.addPost') }}">撰写文章</a></li>
                            <li><a href="#">创建页面</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% block operate_active %}{% endblock %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">文章</a></li>
                            <li><a href="#">独立页面</a></li>
                            <li><a href="#">评论</a></li>
                            <li><a href="#">标签和分类</a></li>
                            <li><a href="#">文件</a></li>
                            <li><a href="#">用户</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {% block setting_active %}{% endblock %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设置</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">基本</a></li>
                            <li><a href="#">评论</a></li>
                            <li><a href="#">阅读</a></li>
                            <li><a href="#">永久链接</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ session['username'] }}</a></li><!-- 用户名 -->
                    <li><a href="#">网站</a></li>
                    {#  TODO: 添加网站主页                  #}
                    <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}