{%- extends "base.html"  %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block navbar %}
    <nav class="nav navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pytecho</a>
        </div>
        <!--小屏幕响应内容-->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="{% block main %}{% endblock %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">控制台</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.main') }}">概要</a></li>
                        <li><a href="profile.html">个人设置</a></li>
                        <li><a href="themes.html">外观</a></li>
                    </ul>
                </li>
                <li class="{% block write %}{% endblock %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">撰写</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.write_post') }}">撰写新文章</a></li>
                        <li><a href="{{ url_for('admin.write_page') }}">创建页面</a></li>
                    </ul>
                </li>
                <li class="{% block manage %}{% endblock %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.manage_posts') }}">文章</a></li>
                        <li><a href="manage-pages.html">独立页面</a></li>
                        <li><a href="manage-comments.html">评论</a></li>
                        <li><a href="manage-categories.html">分类</a></li>
                        <li><a href="manage-tags.html">标签</a></li>
                        <li><a href="manage-files.html">文件</a></li>
                        <li><a href="manage-users.html">用户</a></li>
                    </ul>
                </li>
                <li class="{% block option %}{% endblock %} dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">设置</a>
                    <ul class="dropdown-menu">
                        <li><a href="options-general.html">基本</a></li>
                        <li><a href="option-discussion.hrml">评论</a></li>
                        <li><a href="option-reading.html">阅读</a></li>
                        <li><a href="option-permalink.html">永久链接</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">网站</a></li>
                <li><a href="#">{{ session['username'] }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages( with_categories=true )  %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{- category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
{% endblock %}

