{% extends "admin/base.html" %}
{% block title %}
    管理用户
{% endblock %}
{% block manage %}
    active
{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="page-title">
            <h2>管理用户&nbsp;&nbsp;<a href="{{ url_for('admin.users') }}" class="btn btn-primary btn-sm" role="link">新增</a>
            </h2>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="clearfix list-operate">
                    <form method="get" class="form-inline">
                        <div class="operate pull-left">
                            <label>
                                <i class="sr-only">全选</i>
                                <input type="checkbox" class="select-all">
                            </label>

                            <div class="btn-group btn-group-sm" role="group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">选中项&nbsp;<span
                                        class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="delete">删除</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="search pull-right">
                            <div class="form-group">
                                <input class="form-control" type="text" name="keyword" placeholder="请输入关键字">
                                <button class="btn btn-default" type="submit">筛选</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--主体表格-->
                <form method="post" name="manage-users" action="{{ url_for('admin.delete_users') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <div class="manage-table">
                        <table class="table table-hover">
                            <colgroup>
                                <col width="20">
                                <col width="6%">
                                <col width="30%">
                                <col>
                                <col width="25%">
                                <col width="15%">
                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>用户名</th>
                                <th>昵称</th>
                                <th>电子邮件</th>
                                <th>用户组</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td><input type="checkbox" value="{{ user.id }}" name="uid"></td>
                                    <td><a href="manage-pages.html?uid={{ user.id }}" class="badge" title="文章数">5</a>
                                    </td>
                                    <td>
                                        <a href="users.html?uid={{ user.id }}">{{ user.screenName }}</a>
                                        <a href="index.html/uid={{ user.id }}" title="浏览 {{ user.screenName }}"
                                           target="_blank"><i class="glyphicon glyphicon-new-window"></i></a>
                                    </td>
                                    <td>
                                        {{ user.screenName }}
                                    </td>
                                    <td>
                                        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                    </td>
                                    <td>
                                        {{ user.group }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                <!--页码、操作栏-->
                <div class="clearfix list-operate">
                    <div class="operate pull-left">
                        <label>
                            <i class="sr-only">全选</i>
                            <input type="checkbox" class="select-all">
                        </label>

                        <div class="btn-group btn-group-sm" role="group">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">选中项&nbsp;<span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="delete">删除</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-num pull-right">
                        <ul class="pagination clear-margin">
                            <li><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        $(".select-all").click(function () {
            var isChecked = $(this).prop("checked");
            $("input[name='uid']").prop("checked", isChecked);
        });
        $(".delete").click(function () {
            $("form")[1].submit();
        })
    </script>
{% endblock %}