{% extends "admin/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}新增用户{% endblock %}
{% block manage %}active{% endblock %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="page-title">
            <h2>新增用户</h2>
        </div>
        <div class="row main" role="form">
            <div class="col-md-6 col-md-offset-3">
                <form method="post" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                    <div class="form-group">
                        {{ form.username.label }}
                        {{ form.username(class="form-control", required=required) }}
                        <p class="text-muted small">此用户名将作为用户登录时所用的名称.</p>

                        <p class="text-muted small">请不要与系统中现有的用户名重复.</p>
                    </div>
                    <div class="form-group">
                        {{ form.email.label }}
                        {{ form.email(class="form-control", required=required) }}
                        <p class="text-muted small">电子邮箱地址将作为此用户的主要联系方式.</p>

                        <p class="text-muted small">请不要与系统中现有的电子邮箱地址重复.</p>
                    </div>
                    <div class="form-group">
                        {{ form.screenName.label }}
                        {{ form.screenName(class="form-control") }}
                        <p class="text-muted small">用户昵称可以与用户名不同, 用于前台显示.</p>

                        <p class="text-muted small">如果你将此项留空, 将默认使用用户名.</p>
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}
                        {{ form.password(class="form-control", required=required) }}
                        <p class="text-muted small">为此用户分配一个密码.</p>

                        <p class="text-muted small">建议使用特殊字符与字母、数字的混编样式,以增加系统安全性.</p>
                    </div>
                    <div class="form-group">
                        {{ form.password2.label }}
                        {{ form.password2(class="form-control", required=required) }}
                        <p class="text-muted small">请确认你的密码, 与上面输入的密码保持一致.</p>
                    </div>
                    <div class="form-group">
                        {{ form.url.label }}
                        {{ form.url(class="form-control") }}
                        <p class="text-muted small">此用户的个人主页地址, 请用 http:// 开头.</p>
                    </div>

                    <div class="form-group">
                        {{ form.group.label }}
                        {{ form.group(class="form-control") }}
                        <p class="text-muted small">不同的用户组拥有不同的权限.</p>

                        <p class="text-muted small">具体的权限分配表请<a href="#">参考这里</a>.</p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">新增用户</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}