<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>[文章名] - [网站名] </title>
    <meta name="description" content="文章描述"/>
    <meta name="keywords" content="网站、文章关键字"/>
    <!-- 网站图标 -->
    <link rel="Shortcut Icon" href="#"/>
    <link rel="Bootmark" href="#"/>
    <link rel="stylesheet" href="css/prettify_black.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body onload="prettyPrint()">
<div class="loading"></div>
<script type="text/javascript">
    $('.loading').animate({'width': '30%'}, 50);
</script>

<!-- header -->
<div class="header">
    <div class="container">
        <!-- 网站描述 -->
        <a href="#" class="site-title">网站标题</a>
        <p class="site-description">网站描述</p>
        <!-- 网站描述结束 -->

        <!-- logo -->
        <div class="avatar">
            <a href="#" alt="logo" title="logo">
                <img src="img/logo.jpg"/>
            </a>
        </div>
        <!-- logo 结束 -->

        <!-- 网站导航 -->
        <div class="nav" role="navigation">
            <a class="current" href="#">首页</a>
            <a class="current" href="#">关于</a>
        </div>
        <!-- 网站导航结束 -->
    </div>
</div>
<!-- header 结束 -->