<!--post-->
<div class="content">
    <div class="container">
        <div class="entry">
            <div class="entry-left">
                <h1 class="entry-title">
                    <a itemtype="url" href="#">文章标题</a>
                </h1>
                <div class="entry-meta" itemprop="keywords">
                    <span>by <a href="#">作者</a> · 2016-2-26</span> · <a href="#">分类</a>
                </div>
            </div>

            <div class="post-content" itemprop="articleBody">
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
                <p>内容</p>
            </div>
            <div class="post-tags">
                Tags：<a href="#">标签</a>
            </div>
        </div>

        <!-- share -->
        <!-- todo: 评论区 -->
    </div>

    <div class="pager" role="pager">
        <div class="prev">
            <a href="javascript:void(0);">没有上一篇</a>
            <span>&larr;</span>
        </div>

        <div class="next">
            <a href="javascript:void(0);">没有下一篇</a>
            <span>&rarr;</span>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--post 结束-->