<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{%- if post %}[{{ post.title }}] - {% endif %}{{ site.title -}}</title>
    <meta name="description" content="{% if post %}{{ post.description }}{% else %}{{ site.description }}{% endif %}"/>
    <meta name="keywords" content="
    {%- if post -%}
        {%- for tag in post.tags -%}
            {{- tag -}},
        {%- endfor -%}
    {%- else -%}
        {{- site.keyword -}}
    {%- endif -%}"/>
    <!-- 网站图标 -->
    <link rel="Shortcut Icon" href="{{- url_for('static', filename='img/logo.jpg') -}}"/>
    <link rel="Bootmark" href="{{- url_for('static', filename='img/logo.jpg') -}}"/>
    <link rel="stylesheet" href="{{- url_for('static', filename='css/prettify_black.css') -}}">
    <link rel="stylesheet" href="{{- url_for('static', filename='css/style.css') -}}">
    <script type="text/javascript" src="{{- url_for('static', filename='framework/jquery/jquery.min.js') -}}"></script>
</head>
<body onload="prettyPrint()">
<div class="loading"></div>
<script type="text/javascript">
    $('.loading').animate({'width': '30%'}, 50);
</script>

<!-- header -->
<div class="header">
    <div class="container">
        <!-- 网站描述 -->
        <a href="/" class="site-title">{{ site.title }}</a>
        <p class="site-description">{{ site.description }}</p>
        <!-- 网站描述结束 -->

        <!-- logo -->
        <div class="avatar">
            <a href="/" alt="site-logo" title="logo">
                <img src="{{- url_for('static', filename='img/logo.jpg') -}}"/>
            </a>
        </div>
        <!-- logo 结束 -->

        <!-- 网站导航 -->
        <div class="nav" role="navigation">
            <a class="current" href="{{ url_for('ui.index') }}">首页</a>
            <a class="current" href="{{ url_for('ui.show_archive_list') }}">归档</a>
            {% for page in pages %}
                <a class="current" href="{{ url_for('ui.show_page', slug=page.slug) }}">{{ page.title }}</a>
            {% endfor %}
        </div>
        <!-- 网站导航结束 -->
    </div>
</div>
<!-- header 结束 -->

{%- block main -%}

{%- endblock main -%}
<!-- footer -->
<script type="text/javascript">
    $('.loading').animate({'width': '55%'}, 50);
</script>
<div class="footer">
    <div class="container">
        <div class="footer-left">
            &copy; 2016 <a href="{{ site.url }}">{{ site.url }}</a>.
            Theme Is <a href="https://github.com/biezhi/terse" title="theme by 王爵" target="_blank">Terse</a>
        </div>
        <div class="footer-right">
            {# <a href="#">友情连接</a> #}
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $('.loading').animate({'width': '78%'}, 50);
</script>
<link rel="stylesheet" href="{{ url_for('static', filename='framework/fancybox/jquery.fancybox.css') }}"
      type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='framework/fancybox/jquery.fancybox.js') }}"></script>
<script type="text/javascript">
    var imgArr = $(".entry img");
    for (var i = 0, len = imgArr.length; i < len; i++) {
        var src = imgArr.eq(i).attr("src");
        var title = imgArr.eq(i).attr("alt");
        imgArr.eq(i).replaceWith("<a href='" + src + "' title='" + title + "' rel='fancy-group' class='fancy-ctn fancybox'><img src='" + src + "' title='" + title + "'></a>");
    }
    $(".entry .fancy-ctn").fancybox();
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
<!-- footer 结束-->