{% extends 'ui/base.html' %}
{% import 'ui/tools.html' as tools %}

{% block title %}
    {{ site.site_title }}
{% endblock %}
{% block site_title %}
    {{ site.site_title }}
{% endblock %}
{% block site_description %}
    {{ site.site_description }}
{% endblock %}

{% block article %}
    {% for post in posts %}
        {{ tools.create_article(post) }}
    {% endfor %}
{% endblock %}

{% block category %}
    {{ tools.create_category(categories) }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(function() {
        var posts = $('.md2html');

        for(var i = 0, len = posts.length; i < len; i++){
            editormd.markdownToHTML(posts[i].id, {
                htmlDecode : "style,script,iframe",
                emoji : true,
                taskList : true,
                tocm : true,
                markdownSourceCode: true,
                tocContainer : "",
                tocDropdown   : false
            });
        }


    })
    </script>
{% endblock %}

