<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>[文章名] - [网站名] </title>
    <meta name="description" content="文章描述"/>
    <meta name="keywords" content="网站、文章关键字"/>
    <!-- 网站图标 -->
    <link rel="Shortcut Icon" href="#"/>
    <link rel="Bootmark" href="#"/>
    <link rel="stylesheet" href="css/prettify_black.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body onload="prettyPrint()">
<div class="loading"></div>
<script type="text/javascript">
    $('.loading').animate({'width': '30%'}, 50);
</script>
<!-- header -->
<div class="header">
    <div class="container">
        <!-- 网站描述 -->
        <a href="#" class="site-title">网站标题</a>
        <p class="site-description">网站描述</p>
        <!-- 网站描述结束 -->

        <!-- logo -->
        <div class="avatar">
            <a href="#" alt="logo" title="logo">
                <img src="img/logo.jpg"/>
            </a>
        </div>
        <!-- logo 结束 -->

        <!-- 网站导航 -->
        <div class="nav" role="navigation">
            <a class="current" href="#">首页</a>
            <a class="current" href="#">关于</a>
        </div>
        <!-- 网站导航结束 -->
    </div>
</div>
<!-- header 结束 -->

<!--post-->
<div class="content">
    <div class="container">
        <div class="entry">
            <div class="entry-left">
                <h1 class="entry-title">
                    <a itemtype="url" href="#">文章标题</a>
                </h1>
                <div class="entry-meta" itemprop="keywords">
                    <span>by <a href="#">作者</a> · 2016-2-26</span> · <a href="#">分类</a>
                </div>
            </div>

            <div class="post-content" itemprop="articleBody">
                <table>
                    <p>d</p>
                    <tr>
                        <td>1</td>
                    </tr>
                </table>
            </div>
            <div class="post-tags">
                Tags：<a href="#">标签</a>
            </div>
        </div>

        <!-- share -->

    </div>

    <div class="pager" role="pager">
        <div class="prev">
            <a href="javascript:void(0);">没有上一篇</a>
            <span>&larr;</span>
        </div>

        <div class="next">
            <a href="javascript:void(0);">没有下一篇</a>
            <span>&rarr;</span>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
<!--post 结束-->

<!-- footer -->
<script type="text/javascript">
    $('.loading').animate({'width': '55%'}, 50);
</script>
<div class="footer">
    <div class="container">
        <div class="footer-left">
            &copy; 2016 <a href="#">网站网址;</a>.
            Theme Is <a href="https://github.com/biezhi/terse" title="theme by 王爵" target="_blank">Terse</a>
        </div>
        <div class="footer-right">
            <a href="#">友情连接</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $('.loading').animate({'width': '78%'}, 50);
</script>
<link rel="stylesheet" href="fancybox/jquery.fancybox.css" type="text/css">
<script type="text/javascript" src="fancybox/jquery.fancybox.js"></script>
<script type="text/javascript">
    var imgArr = $(".entry img");
    for (var i = 0, len = imgArr.length; i < len; i++) {
        var src = imgArr.eq(i).attr("src");
        var title = imgArr.eq(i).attr("alt");
        imgArr.eq(i).replaceWith("<a href='" + src + "' title='" + title + "' rel='fancy-group' class='fancy-ctn fancybox'><img src='" + src + "' title='" + title + "'></a>");
    }
    $(".entry .fancy-ctn").fancybox();
</script>
<script type="text/javascript" src="js/prettify.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
<!-- footer 结束-->