{% extends "admin-base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block title %}用户登录{% endblock %}

{% block navbar %}
    {{ widget.admin_nav() }}
{% endblock %}

{% block main %}
<div class="col-md-4 col-md-offset-4" id="login-form">
    <form action="{{ url_for('auth.login') }}" method="post" name="login" >
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label(class='sr-only') }}
            {{ form.username(class='form-control', placeholder='用户名', required=required) }}
        </div>
        <div class="form-group">
            {{ form.password.label(class='sr-only') }}
            {{ form.password(class='form-control', placeholder='密码', required=required) }}
        </div>
        <div class="checkbox">
            <label>
                {{ form.remember_me }}{{ form.remember_me.label.text }}
            </label>
        </div>
        {{ form.submit(class='btn-block btn btn-primary') }}
    </form>
</div>
{% endblock %}