{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editormd.preview.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ui.css') }}">
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/prettify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/jquery.flowchart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editormd.min.js') }}"></script>
{% endblock %}