{% import "widget.html" as widget %}
{% import "wtf.html" as wtf %}
{%- block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block head %}
    <head>
        <title>{%- block title -%}{%- endblock title -%}</title>
        {%- block metas %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block styles %}
            <link href="{{ bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
        {%- endblock styles %}
    </head>
    {%- endblock head %}
    {%- block body -%}
    <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block navbar %}
        {%- endblock navbar %}

        {% block content -%}
        <div class="container">
                {%- with messages = get_flashed_messages( with_categories=true ) -%}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{- category }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {%- endwith -%}
                {%- block container -%}
                    {% block page_title %}{% endblock %}
                    <div class="row main">
                        {% block main %}
                        {% endblock %}
                    </div>
                {% endblock container %}
            </div>
        {%- endblock content %}

        {% block scripts %}
            <script src="{{ bootstrap_find_resource('jquery.js', cdn='jquery') }}"></script>
            <script src="{{ bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap') }}"></script>
            <script src="{{ url_for('static', filename='js/js.js') }}"></script>
        {%- endblock scripts %}
    </body>
    {%- endblock body %}
</html>
{% endblock doc -%}
