{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    登录到博客
{% endblock %}

{% block content %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-right">
                    <a type="button" class="btn btn-default navbar-btn" href="{{ url_for("admin.login") }}" >登录</a>
                    <a type="button" class="btn btn-default navbar-btn" href="{{ url_for("admin.register") }}">注册</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="main">
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="col-md-5 col-md-push-3">
                {{ wtf.quick_form(form, form_type="horizontal", action="/admin/login", horizontal_columns=('md', 4 , 8))}}
            </div>
        </div>
    </div>

{% endblock %}