{% macro admin_nav(is_main=None, is_write=None, is_manage=None, is_options=None, current_user=None) %}
<nav class="nav navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Pytecho</a>
        </div>
        {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown {{ is_main }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">控制台</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.main') }}">概要</a></li>
                        <!--TODO: 添加个人设置--profile.html，外观选择--themes.html-->
                    </ul>
                </li>
                <li class="dropdown {{ is_write }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">撰写</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.write_post') }}">撰写新文章</a></li>
                        <li><a href="{{ url_for('admin.write_page') }}">创建页面</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ is_manage }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">管理</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.manage_posts') }}">文章</a></li>
                        <li><a href="{{ url_for('admin.manage_pages') }}">独立页面</a></li>
                        {# <li><a href="#">评论</a></li>#}
                        {# todo: 后续添加评论管理                 #}
                        <li><a href="{{ url_for('admin.manage_categories') }}">分类</a></li>
                        {# <li><a href="#">文件</a></li>#}
                        {# todo: 后续添加文件                   #}
                        <li><a href="{{ url_for('admin.manage_users') }}">用户</a></li>
                    </ul>
                </li>
                <li class="dropdown {{ is_options }}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">设置</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('admin.options_general') }}">基本</a></li>
                        <!--TODO: 添加评论管理、阅读管理-->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('ui.index') }}">网站</a></li>
                <!--TODO: 个人设置完成后链接至这里-->
                <li><a href="#">{{ session['username'] }}</a></li>
                <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</nav>
{%- endmacro -%}

{% macro page_title(title="", url=None) -%}
<div class="page-title">
    <h2>{{ title }}&nbsp;&nbsp;
        {%- if url -%}
        <a href="{{ url_for(url) }}" class="btn btn-primary btn-sm" role="link">新增</a>
        {%- endif -%}
    </h2>
</div>
{%- endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    <ul class="pagination clear-margin">
        {% if pagination.prev_num == 0 %}
            <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
        {% else %}
            <li><a href="{{ url_for(endpoint, page=pagination.prev_num) }}"><span aria-hidden="true">&laquo;</span></a></li>
        {% endif %}

        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                {% else %}
                    <li class="active"><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
                {% endif %}
            {% endif %}
        {%- endfor %}

        {% if pagination.next_num == pagination.pages %}
            <li><a href="{{ url_for(endpoint, page=pagination.next_num) }}"><span aria-hidden="true">&raquo;</span></a></li>
        {% else %}
            <li class="disabled"><a href="#"><span aria-hidden="true">&raquo;</span></a></li>
        {% endif %}
    </ul>
{% endmacro %}